body {
  width: 100%;
  overflow: hidden;
  font-family: arial, sans-serif;
}

.container {
  width: all;
  height: auto;
}

/* la section header  */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: all;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid lightgray;
  margin-top: -1px;
}

.header-icon {
  width: 120px;
  height: 100%;
}

.header-icon img {
  width: 100%;
  height: 100%;
}

.header-menu {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-menu nav {
  display: flex;
  flex-direction: row;
}

.header-menu nav a {
  text-decoration: none;
  padding: 10px 0;
  margin: 0 10px;
  color: #119b15;
  font-weight: bold;
  font-size: 14px;
}

.active-link {
  border-bottom: 3px solid #119b15;
}

.header-menu img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: 15px;
}

/* section des suggestions  */
.suggestion {
  position: relative;
  width: 25%;
  height: 100%;
  background: #e8e8e8;
  border-right: 1px solid lightgray;
}

.suggestion h3 {
  height: 45px;
  margin: 0;
  width: all;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
}

.contact-list {
  width: all;
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  align-items: center;
}

.content-section {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact {
  width: calc(100% - 20px);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px 0 5px 7px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 100%;
  padding-left: 5px;
}

.contact-info img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.contact-info--text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  line-height: 25px;
  margin-left: 10px;
}

.contact-info--text span:first-child {
  font-weight: 800;
  font-size: 16px;
}

.contact-info--text span:last-child {
  font-weight: 600;
  font-size: 14px;
  color: gray;
}

.btn.btn-contact {
  height: 30px;
  width: auto;
  padding: 10px;
  border-width: 0;
  background: #119b15;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  margin-right: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section de recherche */
.search-section {
  width: all;
  height: 50px;
  background: #e8e8e8;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.search-section div:first-child {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-section div:last-child {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search-input, .select-filtre {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0 1px 3px grey;
  font-weight: 600;
  padding: 0 15px;
}

.search-section div:last-child label {
  margin-right: 15px;
  font-weight: 600;
  font-size: 14px;
}

.select-filtre {
  width: 70%;
  background: #f4f4f4;
}

/* la section principale  */

.main-section {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: all;
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-list {
  width: all;
  height: calc(100% - 50px);
  background: #f4f4f4;
  padding: 0 15px 15px 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.post {
  width: all;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 3px grey;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0;
  background: white;
}

.post-image {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.post-image img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.post-content {
  padding-left: 15px;
}

.post-header {
  width: all;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}

.post-header div span:first-child {
  font-size: 16px;
}

.post-header > span,
.post-header div span:last-child {
  color: grey;
  font-size: 13px;
}

.post-message {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
}

.post-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  align-self: baseline;
}

.post-icons div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-icons div:not(:first-child) {
  margin: 0 0 0 20px;
}

.post-icons div img {
  height: 20px;
  width: 20px;
}

.post-icons div span {
  font-weight: 600;
  font-size: 12px;
  margin-left: 5px;
}
